:root {
  --font-family-01: "Tenor Sans";
  --font-family-02: "TT Firs Neue Regular";
  --font-family-03: "TT Firs Neue Medium";
  --font-family-titles: var(--font-family-01);
  --font-family-primary: var(--font-family-02);
  --color-white: #FFFFFF;
  --color-dark: #000000;
  --color-dark-200: #242222;
  --color-dark-100: #2E2C2C;
  --color-gold-300: #996F50;
  --color-gold-200: #BD8D6A;
  --color-gold-150: #CC9D7A;
  --color-gold-020: #C7B5A9;
  --color-gold-005: #E3DACF;
  --color-gold-border: rgba(214, 186, 164, 0.2);
  --color-green-300: #1E2E2E;
  --color-green-200: #26393B;
  --color-green-005: #CDC9BF;
  --color-green-border: rgba(205, 205, 183, 0.2);
  --color-brown-300: #522010;
  --color-brown-200: #784839;
  --color-brown-100: #B56041;
  --color-brown-020: #D8D1C9;
  --color-brown-005: #E0DCD5;
  --color-brown-border: rgba(120, 72, 57, 0.2);
  --color-map-road-01: #C79C8F;
  --color-map-road-02: #DEC2B5;
  --color-map-water: #A7C3CC;
  --color-map-mountains: #C8CFC5;
}

@font-face {
  font-family: "Tenor Sans";
  src: local("Tenor Sans Regular"), local("TenorSans-Regular"), url("../fonts/TenorSans-Regular.woff2") format("woff2"), url("../fonts/TenorSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "TT Firs Neue Regular";
  src: local("TT Firs Neue Regular"), url("../fonts/TT-Firs-Neue-Regular.woff2") format("woff2"), url("../fonts/TT-Firs-Neue-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "TT Firs Neue Medium";
  src: local("TT Firs Neue Medium"), url("../fonts/TT-Firs-Neue-Medium.woff2") format("woff2"), url("../fonts/TT-Firs-Neue-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* BASE STYLE SETTINGS START: */
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

html {
  overflow: hidden;
  overflow-x: hidden;
}

body {
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-family: var(--font-family-primary);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-family-titles);
}

::-webkit-scrollbar {
  width: 3px;
  border-radius: 5px;
}

::-webkit-scrollbar-track-piece {
  background-color: var(--color-dark-100);
}

::-webkit-scrollbar-thumb {
  background: var(--color-gold-020);
}

::-webkit-scrollbar-corner {
  background-color: var(--color-gold-020);
}

/* BASE STYLE SETTINGS END. */
/* WRAPPER STYLE SETTINGS START: */
.wrapper-full {
  width: 100%;
  height: auto;
  margin: 0px auto;
  padding: 0px 0px;
}

.wrapper-fix {
  width: 100%;
  max-width: 1920px;
  height: auto;
  margin: 0px auto;
}

/* WRAPPER STYLE SETTINGS END. */
/* HEADER STYLE SETTINGS START: */
.section-header {
  background-image: url("../media/bg_header.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.header-container {
  height: 810px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.header-menu-full.sticky {
  width: 100%;
  position: fixed;
  top: 0px;
  left: 50%;
  z-index: 100;
  transform: translate(-50%, 0%);
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
  background-color: var(--color-dark-100);
}
.header-menu-full.sticky .header-menu-fix {
  max-width: 1920px;
  margin: 0px auto;
  border-bottom: 1px solid var(--color-gold-border);
}

.header-menu-full.sticky .header-menu__logotype .logotype_middle {
  display: none;
}
.header-menu-full.sticky .header-menu__logotype .logotype_mini {
  display: block;
}

.header-menu-fix {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
}
.header-menu-fix > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-menu-fix > div:nth-child(1) {
  width: calc((100% - 65px) / 2);
  justify-content: flex-start;
}
.header-menu-fix > div:nth-child(3) {
  width: calc((100% - 65px) / 2);
  justify-content: flex-end;
}
.header-menu-fix .header-menu__button-burger {
  width: 50px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--color-gold-200);
  border-radius: 20px;
  cursor: pointer;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
}
.header-menu-fix .header-menu__button-burger:hover {
  background-color: var(--color-gold-200);
}
.header-menu-fix .header-menu__button-burger:active {
  background-color: var(--color-gold-300);
  border-color: var(--color-gold-300);
}
.header-menu-fix .header-menu__navigation ul {
  display: flex;
  column-gap: 32px;
  list-style-type: none;
  margin: 0px 0px 0px 32px;
}
.header-menu-fix .header-menu__navigation ul li a {
  color: var(--color-gold-005);
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
}
.header-menu-fix .header-menu__navigation ul li a:hover {
  opacity: 0.6;
}
.header-menu-fix .header-menu__logotype .logotype_middle {
  display: block;
}
.header-menu-fix .header-menu__logotype .logotype_mini {
  display: none;
}
.header-menu-fix .header-menu__phone p a {
  color: var(--color-gold-005);
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
}
.header-menu-fix .header-menu__button-apartment {
  margin: 0px 16px 0px 32px;
}
.header-menu-fix .header-menu__button-apartment a.button {
  background-color: var(--color-gold-200);
  color: var(--color-gold-005);
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.036em;
  border-radius: 20px;
  padding: 12px 20px;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
}
.header-menu-fix .header-menu__button-apartment a.button:hover {
  background-color: var(--color-gold-300);
}
.header-menu-fix .header-menu__button-call a.button {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--color-gold-200);
  border-radius: 50%;
  cursor: pointer;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
}
.header-menu-fix .header-menu__button-call a.button:hover {
  background-color: var(--color-gold-200);
}
.header-menu-fix .header-menu__button-call a.button:active {
  background-color: var(--color-gold-300);
  border-color: var(--color-gold-300);
}

.header-title {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: flex-end;
  position: absolute;
  bottom: 50px;
}
.header-title .header-title__title {
  max-width: 58%;
}
.header-title .header-title__title img {
  width: 100%;
}
.header-title .header-title__caption {
  font-family: var(--font-family-titles);
  font-size: 26px;
  line-height: 30px;
  color: var(--color-gold-200);
}

.header-addres {
  display: flex;
  align-items: center;
  position: absolute;
  right: -100px;
  bottom: 140px;
  transform: rotate(-90deg);
}
.header-addres span {
  color: var(--color-gold-005);
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
}
.header-addres svg {
  transform: rotate(90deg);
  margin: 0px 0px 0px 22px;
}

/* HEADER STYLE SETTINGS END. */
/* SECTION MENU STYLE SETTINGS START: */
.section-menu {
  width: 100%;
  height: 100vh;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 200;
  transform: translate(-100%);
  background-color: var(--color-dark-100);
  transition-timing-function: ease-in-out;
  transition-duration: 0.9s;
}
.section-menu .wrapper-fix {
  height: 100%;
}

.menu-container {
  width: 100%;
  height: 100%;
}

.menu__menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid var(--color-gold-border);
}
.menu__menu > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu__menu > div:nth-child(1) {
  width: calc((100% - 65px) / 2);
  justify-content: flex-start;
}
.menu__menu > div:nth-child(3) {
  width: calc((100% - 65px) / 2);
  justify-content: flex-end;
}
.menu__menu .menu__button-burger {
  width: 50px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--color-gold-200);
  border-radius: 20px;
  cursor: pointer;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
}
.menu__menu .menu__button-burger:hover {
  background-color: var(--color-gold-200);
}
.menu__menu .menu__button-burger:active {
  background-color: var(--color-gold-300);
  border-color: var(--color-gold-300);
}
.menu__menu .menu__logotype .logotype_middle {
  display: block;
}
.menu__menu .menu__logotype .logotype_mini {
  display: none;
}
.menu__menu .menu__phone p a {
  color: var(--color-gold-005);
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
}
.menu__menu .menu__button-apartment {
  margin: 0px 16px 0px 32px;
}
.menu__menu .menu__button-apartment a.button {
  background-color: var(--color-gold-200);
  color: var(--color-gold-005);
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.036em;
  border-radius: 20px;
  padding: 12px 20px;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
}
.menu__menu .menu__button-apartment a.button:hover {
  background-color: var(--color-gold-300);
}
.menu__menu .menu__button-call a.button {
  width: auto;
  height: 40px;
  display: flex;
  column-gap: 12px;
  align-items: center;
  text-decoration: none;
  border: 1px solid var(--color-gold-200);
  border-radius: 20px;
  padding: 10px 16px;
  cursor: pointer;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
}
.menu__menu .menu__button-call a.button:hover {
  background-color: var(--color-gold-200);
}
.menu__menu .menu__button-call a.button:active {
  background-color: var(--color-gold-300);
  border-color: var(--color-gold-300);
}
.menu__menu .menu__button-call p {
  color: var(--color-gold-005);
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.036em;
}

.menu__content {
  width: 100%;
  height: calc(100% - 125px);
  display: flex;
  column-gap: 24px;
  padding: 32px 0px 50px 0px;
}
.menu__content .menu__content-column-01 {
  width: 37.5%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.menu__content .menu__content-column-02 {
  width: 62.5%;
  height: 100%;
  display: flex;
}
.menu__content .menu__content-column-02 .menu__content-column-03 {
  width: 60%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.menu__content .menu__content-column-02 .menu__content-column-03 img {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
}
.menu__content .menu__content-column-02 .menu__content-column-04 {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-left: 1px solid var(--color-gold-border);
  padding: 0px 0px 0px 24px;
  margin: 0px 0px 0px 24px;
}
.menu__content .menu__content-column-02 .menu__content-column-04 .menu__content-row-01 {
  width: 100%;
  height: calc(50% - 0.5px);
  border-bottom: 1px solid var(--color-gold-border);
  padding: 0px 0px 24px 0px;
  margin: 0px 0px 24px 0px;
}
.menu__content .menu__content-column-02 .menu__content-column-04 .menu__content-row-01 > div {
  width: 100%;
  height: 100%;
}
.menu__content .menu__content-column-02 .menu__content-column-04 .menu__content-row-01 > div a {
  display: block;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  text-decoration: none;
  background-color: var(--color-brown-200);
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
  padding: 32px 32px;
}
.menu__content .menu__content-column-02 .menu__content-column-04 .menu__content-row-01 > div a .meni__content-icon {
  width: 60px;
  height: 60px;
  background-color: var(--color-gold-border);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu__content .menu__content-column-02 .menu__content-column-04 .menu__content-row-01 > div a p {
  color: var(--color-gold-005);
  font-size: 14px;
  line-height: 22px;
  text-align: right;
}
.menu__content .menu__content-column-02 .menu__content-column-04 .menu__content-row-02 {
  width: 100%;
  height: calc(50% - 0.5px);
}
.menu__content .menu__content-column-02 .menu__content-column-04 .menu__content-row-02 > div {
  width: 100%;
  height: 100%;
}
.menu__content .menu__content-column-02 .menu__content-column-04 .menu__content-row-02 > div a {
  display: block;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  text-decoration: none;
  background-color: var(--color-gold-300);
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
  padding: 32px 32px;
}
.menu__content .menu__content-column-02 .menu__content-column-04 .menu__content-row-02 > div a .meni__content-icon {
  width: 60px;
  height: 60px;
  background-color: var(--color-gold-border);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu__content .menu__content-column-02 .menu__content-column-04 .menu__content-row-02 > div p {
  color: var(--color-gold-005);
  font-size: 14px;
  line-height: 22px;
  text-align: right;
}

.menu__content-navigation {
  width: 100%;
}
.menu__content-navigation ul {
  width: 100%;
  list-style-type: none;
}
.menu__content-navigation ul li {
  padding: 16px 0px;
  border-bottom: 1px solid var(--color-gold-border);
}
.menu__content-navigation ul li:last-child {
  border-bottom: none;
}
.menu__content-navigation ul li a {
  font-family: var(--font-family-titles);
  color: var(--color-gold-020);
  font-size: 32px;
  line-height: 40px;
  text-transform: uppercase;
  text-decoration: none;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
}
.menu__content-navigation ul li a:hover {
  opacity: 0.6;
}

.menu__content-links {
  width: 100%;
  margin: 24px 0px;
}
.menu__content-links ul {
  list-style-type: none;
  display: flex;
  column-gap: 32px;
}
.menu__content-links ul li a {
  color: var(--color-gold-020);
  font-size: 14px;
  line-height: 28px;
  text-decoration: none;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
}
.menu__content-links ul li a:hover {
  opacity: 0.6;
}

.menu__content-copyright {
  color: var(--color-gold-020);
  font-size: 10px;
  line-height: 12px;
  text-transform: uppercase;
  text-decoration: none;
  opacity: 0.5;
}

/* SECTION MENU STYLE SETTINGS END. */
/* PRELOADER STYLE SETTINGS START: */
.section-preloader {
  width: 100%;
  height: 100vh;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 300;
  background-color: var(--color-dark-200);
  transition-duration: 0.8s;
  transition-timing-function: ease-in-out;
}
.section-preloader .wrapper-fix {
  height: 100%;
}

.preloader-background {
  width: 100%;
  height: 100vh;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 400;
  background-color: var(--color-dark-100);
  transform: translateY(100%);
  filter: blur(5px);
  transition-duration: 0.8s;
  transition-timing-function: ease-in-out;
}

.preloader-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 48px 0px;
}

.preloader-block {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.preloader-block .preloader-item {
  display: flex;
  column-gap: 16px;
  align-items: center;
}
.preloader-block .preloader-item p {
  color: var(--color-gold-020);
  font-size: 10px;
  line-height: 12px;
  text-decoration: none;
  text-transform: uppercase;
  opacity: 0.5;
}

.loader-spinner {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 2px solid var(--color-gold-020);
  border-color: var(--color-gold-border);
  border-right-color: #BD8D6A;
  animation: s2 1s infinite linear;
}

@keyframes s2 {
  to {
    transform: rotate(1turn);
  }
}
/* PRELOADER STYLE SETTINGS END. */
/* TITLE LABEL STYLE SETTINGS START: */
.block-label {
  width: 100%;
  overflow: hidden;
}

.title-label {
  display: flex;
  align-items: center;
  position: relative;
  left: -40px;
}
.title-label .label-number {
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-family: var(--font-family-primary);
  font-size: 28px;
  line-height: 32px;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  padding: 0px 0px 0px 5px;
}
.title-label .label-text {
  font-size: 12px;
  line-height: 32px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  position: relative;
  left: -18px;
}
.title-label.color_gold .label-number {
  color: var(--color-gold-150);
  border: 1px solid var(--color-gold-150);
}
.title-label.color_gold .label-text {
  color: var(--color-gold-150);
  background-color: var(--color-dark-100);
}
.title-label.color_brown .label-number {
  color: var(--color-brown-100);
  border: 1px solid var(--color-brown-100);
}
.title-label.color_brown .label-text {
  color: var(--color-brown-100);
  background-color: var(--color-brown-005);
}

/* TITLE LABEL STYLE SETTINGS END. */
/* PROJECT STYLE SETTINGS START: */
.section-project {
  background-color: var(--color-dark-100);
}

.project-container {
  padding: 80px 0px;
}

.project-block-title {
  margin: 32px 0px 80px 0px;
}
.project-block-title h2 {
  color: var(--color-gold-020);
  text-transform: uppercase;
}
.project-block-title h2 span {
  color: var(--color-gold-150);
}

.project-block-content {
  width: 100%;
  display: flex;
  column-gap: 64px;
}
.project-block-content .project-block-column-01 {
  width: 68%;
}
.project-block-content .project-block-column-02 {
  width: 32%;
}
.project-block-content .project-block-column-02 p {
  width: 75%;
  color: var(--color-gold-020);
}

.project-block-info {
  margin: 40px 0px 40px 0px;
}
.project-block-info .project-block-info-item {
  border-top: 1px solid var(--color-gold-border);
  padding: 40px 0px;
}
.project-block-info .project-block-info-item:last-child {
  border-bottom: 1px solid var(--color-gold-border);
}
.project-block-info .project-block-info-item p:first-child {
  font-family: var(--font-family-titles);
  color: var(--color-gold-150);
  font-size: 40px;
  line-height: 48px;
  margin: 0px 0px 8px 0px;
}
.project-block-info .project-block-info-item p:last-child {
  color: var(--color-gold-020);
  font-size: 11px;
  line-height: 16px;
  text-transform: uppercase;
}

.gallery-slider {
  width: 110%;
  height: auto;
  position: relative;
  left: -10%;
}
.gallery-slider .gallery-item {
  width: 100%;
  height: 620px;
  overflow: hidden;
  position: relative;
}
.gallery-slider .gallery-item img {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
}

.gallery-controls {
  display: flex;
  align-items: center;
  column-gap: 20px;
  margin: 20px 0px 0px 0px;
}

.gallery-counter-block {
  color: var(--color-gold-020);
  font-size: 14px;
  line-height: 28px;
  text-transform: uppercase;
}

.gallery-progress {
  display: flex;
  align-items: center;
  flex-grow: 1;
}
.gallery-progress .owl-dot {
  height: 1px;
  flex-grow: 1;
  background-color: var(--color-gold-border);
  outline: none;
  border: none;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
}
.gallery-progress .owl-dot:first-child {
  border-radius: 3px;
}
.gallery-progress .owl-dot:last-child {
  border-radius: 3px;
}
.gallery-progress .owl-dot.active {
  height: 2px;
  background-color: var(--color-gold-150);
  border-radius: 3px;
}

.gallery-navigation {
  display: flex;
  column-gap: 8px;
}
.gallery-navigation .gallery-navigation-item {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
}
.gallery-navigation .gallery-navigation-item:first-child {
  border: 1px solid var(--color-gold-150);
}
.gallery-navigation .gallery-navigation-item:first-child:hover {
  background-color: var(--color-gold-150);
}
.gallery-navigation .gallery-navigation-item:first-child:hover path {
  stroke: var(--color-dark-100);
}
.gallery-navigation .gallery-navigation-item:last-child {
  background-color: var(--color-gold-150);
}
.gallery-navigation .gallery-navigation-item:last-child:hover {
  background-color: var(--color-gold-200);
}
.gallery-navigation .gallery-navigation-item:last-child:hover path {
  stroke: var(--color-dark-100);
}

/* PROJECT STYLE SETTINGS END. */
/* PROJECT STYLE SETTINGS START: */
.section-map {
  background-color: var(--color-brown-005);
  position: relative;
}
.section-map .map-container {
  padding: 80px 0px 80px 0px;
}
.section-map .map-container .title-label .label-number {
  padding: 0px 0px 0px 15px;
}
.section-map .map-container .map-block {
  width: 100%;
  display: flex;
  column-gap: 80px;
}
.section-map .map-container .map-block .map-column-01 {
  width: 50%;
}
.section-map .map-container .map-block .map-column-02 {
  width: 50%;
}

.map-block-title {
  margin: 32px 0px 48px 0px;
}
.map-block-title h2 {
  color: var(--color-brown-100);
  text-transform: uppercase;
}
.map-block-title h2 span {
  color: var(--color-brown-200);
  padding: 0px 24px;
}

.map-row-01 {
  display: flex;
  column-gap: 64px;
  padding: 0px 0px 48px 0px;
  border-bottom: 1px solid var(--color-brown-border);
}
.map-row-01 .map-column-03 {
  width: 55%;
}
.map-row-01 .map-column-03 p {
  width: 85%;
  height: 100%;
  color: var(--color-brown-200);
  font-size: 14px;
  line-height: 28px;
  margin: 0px 0px 8px 0px;
}
.map-row-01 .map-column-04 {
  width: 45%;
}
.map-row-01 .map-column-04 p {
  width: 90%;
  height: 100%;
  color: var(--color-brown-200);
  font-size: 14px;
  line-height: 28px;
  margin: 0px 0px 8px 0px;
  border-left: 1px solid var(--color-brown-border);
  padding: 0px 0px 0px 48px;
}

.map-row-02 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 0px 0px 0px;
}
.map-row-02 p {
  color: var(--color-brown-200);
  font-size: 24px;
  line-height: 32px;
}
.map-row-02 .button-map a.button {
  background-color: var(--color-brown-200);
  color: var(--color-brown-005);
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  letter-spacing: 0.01em;
  border-radius: 28px;
  padding: 17px 24px;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
}
.map-row-02 .button-map a.button:hover {
  background-color: var(--color-brown-300);
}

.map-row-03 {
  width: 100%;
  position: absolute;
  left: 0px;
  top: 100%;
  z-index: 1;
  margin: 0px auto;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
}
.map-row-03.map-block-parallax {
  transform: translateY(-100%);
}
.map-row-03 .map-wrapper {
  width: 100%;
  max-width: 1920px;
  height: auto;
  margin: 0px auto;
}
.map-row-03 .map-wrapper > div:first-child {
  width: 50%;
  background-color: var(--color-brown-200);
  padding: 48px 32px;
}
.map-row-03 .map-wrapper > div:last-child {
  width: 50%;
}
.map-row-03 .map-wrapper > div > p {
  font-family: var(--font-family-titles);
  color: var(--color-brown-020);
  font-size: 14px;
  line-height: 28px;
  text-transform: uppercase;
  padding: 0px 0px 24px 0px;
  border-bottom: 1px solid var(--color-gold-border);
}

.map-slider-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 32px 0px 24px 0px;
  border-bottom: 1px solid var(--color-gold-border);
  margin: 0px 0px 120px 0px;
}
.map-slider-container .map-slider {
  width: 400px;
}
.map-slider-container .map-slider .map-slider-item p:first-child {
  font-family: var(--font-family-titles);
  color: var(--color-brown-020);
  font-size: 104px;
  line-height: 120px;
  text-transform: uppercase;
  margin: 0px 0px 12px 0px;
}
.map-slider-container .map-slider .map-slider-item p:last-child {
  color: var(--color-brown-020);
  font-size: 14px;
  line-height: 22px;
  text-transform: uppercase;
}
.map-slider-container .map-slider-navigation {
  display: flex;
  column-gap: 8px;
}
.map-slider-container .map-slider-navigation .map-slider-navigation-item {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
}
.map-slider-container .map-slider-navigation .map-slider-navigation-item:first-child {
  border: 1px solid var(--color-gold-150);
}
.map-slider-container .map-slider-navigation .map-slider-navigation-item:first-child:hover {
  background-color: var(--color-gold-150);
}
.map-slider-container .map-slider-navigation .map-slider-navigation-item:first-child:hover path {
  stroke: var(--color-dark-100);
}
.map-slider-container .map-slider-navigation .map-slider-navigation-item:last-child {
  background-color: var(--color-gold-150);
}
.map-slider-container .map-slider-navigation .map-slider-navigation-item:last-child:hover {
  background-color: var(--color-gold-200);
}
.map-slider-container .map-slider-navigation .map-slider-navigation-item:last-child:hover path {
  stroke: var(--color-dark-100);
}

/* PROJECT STYLE SETTINGS END. */
/* CALL MODAL STYLE SETTINGS START: */
.section-call {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  display: none;
  z-index: 500;
}
.section-call .wrapper-fix {
  height: 100%;
}

.call-container {
  width: 100%;
  height: 100%;
  display: flex;
}
.call-container .call-column-01 {
  width: 37.5%;
  position: relative;
}
.call-container .call-column-02 {
  width: 62.5%;
  position: relative;
}

.call-block {
  width: 100%;
  height: 100vh;
  position: relative;
  opacity: 0;
  padding: 80px 80px 0px 0px;
  overflow: auto;
  transition-duration: 1s;
  transition-property: transform;
  transition-timing-function: ease-in-out;
  transform: translateX(-100%);
}
.call-block.active {
  z-index: 600;
  opacity: 1;
  transform: translateX(0%);
  background-color: var(--color-dark-100);
}
.call-block .call-block-head {
  margin: 0px 0px 32px 0px;
}
.call-block .call-block-head p:first-child {
  font-family: var(--font-family-titles);
  color: var(--color-brown-020);
  font-size: 44px;
  line-height: 60px;
  text-transform: uppercase;
  margin: 0px 0px 30px 0px;
}
.call-block .call-block-head p:last-child {
  color: var(--color-brown-020);
  font-size: 14px;
  line-height: 22px;
}
.call-block .call-block-body .call-form {
  display: flex;
  flex-direction: column;
}
.call-block .call-block-body input {
  width: 100%;
  background-color: transparent;
  border: 1px solid var(--color-gold-border);
  border-radius: 32px;
  color: var(--color-brown-020);
  font-size: 14px;
  line-height: 20px;
  padding: 16px 20px;
  margin: 0px 0px 20px 0px;
  outline: none;
}
.call-block .call-block-body input::placeholder {
  font-family: var(--font-family-primary);
  color: var(--color-brown-020);
  font-size: 14px;
  line-height: 20px;
}
.call-block .call-block-body button {
  width: 100%;
  background-color: var(--color-gold-200);
  font-family: var(--font-family-primary);
  color: var(--color-gold-005);
  font-size: 14px;
  line-height: 20px;
  border-radius: 32px;
  padding: 16px 16px;
  outline: none;
  border: none;
  margin: 0px 0px 20px 0px;
  cursor: pointer;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
}
.call-block .call-block-body button:hover {
  background-color: var(--color-gold-300);
  color: var(--color-gold-005);
}
.call-block .call-block-body p {
  color: rgba(216, 209, 201, 0.5);
  font-size: 11px;
  line-height: 16px;
  text-transform: uppercase;
  text-align: center;
}
.call-block .call-block-body p a {
  color: var(--color-gold-020);
  opacity: 1;
  text-decoration: none;
}
.call-block.call-block-02 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.call-block.call-block-02 .call-block-head {
  text-align: center;
}
.call-block.call-block-02 .call-block-head p:first-child {
  color: var(--color-gold-150);
  font-size: 44px;
  line-height: 60px;
}
.call-block.call-block-02 .call-block-head p:last-child {
  color: var(--color-brown-020);
  font-size: 14px;
  line-height: 22px;
}

.call-background-01 {
  width: 37.5%;
  height: 100vh;
  position: fixed;
  left: 0px;
  z-index: 560;
  background-color: var(--color-dark-100);
  transition-duration: 1s;
  transition-property: transform;
  transition-timing-function: ease-in-out;
  transform: translateX(-100%);
}
.call-background-01.active {
  transform: translateX(0%);
}

.call-background-02 {
  width: 100%;
  height: 100vh;
  position: fixed;
  left: 0px;
  z-index: 550;
  background-color: var(--color-dark-100);
  opacity: 0;
  transition-duration: 1s;
  transition-property: opacity;
  transition-timing-function: ease-in-out;
}
.call-background-02.active {
  opacity: 0.5;
}

.call-close {
  width: 56px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-brown-200);
  cursor: pointer;
  position: absolute;
  right: -26px;
  top: 50%;
  z-index: 700;
  transform: translateY(-50%);
  border-radius: 50%;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
  opacity: 0;
}
.call-close:hover {
  background-color: var(--color-brown-100);
}
.call-close.active {
  opacity: 1;
}

/* CALL MODAL STYLE SETTINGS END. */
/* FORM SECTION STYLE SETTINGS START: */
.section-form {
  background-color: var(--color-gold-300);
}

.form-container {
  width: 100%;
  display: flex;
  position: relative;
}
.form-container .form-column-01 {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 700px;
  padding: 80px 0px;
}
.form-container .form-column-02 {
  width: 50%;
}

.form-block-head {
  margin: 0px 0px 32px 0px;
}
.form-block-head p:first-child {
  font-family: var(--font-family-titles);
  color: var(--color-brown-020);
  font-size: 44px;
  line-height: 60px;
  text-transform: uppercase;
  text-align: center;
  margin: 0px 0px 30px 0px;
}
.form-block-head p:last-child {
  color: var(--color-brown-020);
  font-size: 14px;
  line-height: 22px;
  text-align: center;
}

.form-block-body .form-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-block-body input {
  width: 100%;
  max-width: 350px;
  background-color: transparent;
  border: 1px solid var(--color-gold-border);
  border-radius: 32px;
  color: var(--color-brown-020);
  font-size: 14px;
  line-height: 20px;
  padding: 16px 20px;
  margin: 0px 0px 20px 0px;
  outline: none;
}
.form-block-body input::placeholder {
  font-family: var(--font-family-primary);
  color: var(--color-brown-020);
  font-size: 14px;
  line-height: 20px;
}
.form-block-body button {
  width: 100%;
  max-width: 350px;
  background-color: var(--color-brown-005);
  font-family: var(--font-family-primary);
  color: var(--color-brown-200);
  font-size: 14px;
  line-height: 20px;
  border-radius: 32px;
  padding: 16px 16px;
  outline: none;
  border: none;
  margin: 0px 0px 20px 0px;
  cursor: pointer;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
}
.form-block-body button:hover {
  background-color: var(--color-brown-100);
  color: var(--color-brown-005);
}
.form-block-body p {
  color: rgba(216, 209, 201, 0.5);
  font-size: 11px;
  line-height: 16px;
  text-transform: uppercase;
  text-align: center;
}
.form-block-body p a {
  color: var(--color-gold-020);
  opacity: 1;
  text-decoration: none;
}

.form-column-02 {
  width: 130%;
  position: relative;
}
.form-column-02 img {
  width: 130%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  object-fit: cover;
}

.form-block-01 {
  display: block;
}

.form-block-02 {
  display: none;
}

/* FORM SECTION STYLE SETTINGS END. */
.section-information {
  background-color: var(--color-dark-100);
  position: relative;
}

.information-container {
  padding: 80px 0px 0px 0px;
}
.information-container .title-label .label-number {
  padding: 0px 0px 0px 15px;
}

.information-block-title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 0px 80px 0px;
}
.information-block-title h2 {
  color: var(--color-gold-150);
  text-transform: uppercase;
}
.information-block-title h2 span {
  color: var(--color-gold-020);
  padding: 0px 24px;
}
.information-block-title .button-appartment a.button {
  background-color: var(--color-gold-020);
  color: var(--color-dark-200);
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  letter-spacing: 0.01em;
  border-radius: 28px;
  padding: 16px 50px;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
}
.information-block-title .button-appartment a.button:hover {
  background-color: var(--color-gold-005);
}

.information-block-content {
  width: 100%;
  display: flex;
  column-gap: 30px;
  padding: 0px 0px 80px 0px;
}
.information-block-content .information-column-01 {
  width: 40%;
}
.information-block-content .information-column-02 {
  width: 60%;
  position: relative;
}

.information-row-01 > p {
  font-family: var(--font-family-titles);
  color: var(--color-gold-020);
  font-size: 16px;
  line-height: 28px;
  text-transform: uppercase;
  border-top: 1px solid var(--color-gold-border);
  padding: 40px 0px;
}
.information-row-01 .information-block-info {
  width: 100%;
  display: flex;
  padding: 40px 0px;
  border-top: 1px solid var(--color-gold-border);
  border-bottom: 1px solid var(--color-gold-border);
}
.information-row-01 .information-block-info .information-block-info-item {
  width: 50%;
}
.information-row-01 .information-block-info .information-block-info-item p:first-child {
  font-family: var(--font-family-titles);
  color: var(--color-gold-150);
  font-size: 40px;
  line-height: 48px;
  margin: 0px 0px 8px 0px;
}
.information-row-01 .information-block-info .information-block-info-item p:last-child {
  color: var(--color-gold-020);
  font-size: 11px;
  line-height: 16px;
  text-transform: uppercase;
}
.information-row-01 .information-block-caption {
  display: flex;
  margin: 40px 0px 0px 0px;
}
.information-row-01 .information-block-caption p {
  width: 50%;
  color: var(--color-gold-020);
  font-size: 14px;
  line-height: 28px;
}
.information-row-01 .information-block-caption p:first-child {
  padding: 0px 40px 0px 0px;
}
.information-row-01 .information-block-caption p:last-child {
  border-left: 1px solid var(--color-gold-border);
  padding: 0px 0px 0px 40px;
}

.information-schema-image {
  width: 100%;
  height: 100%;
  background-image: url("../media/information.jpg");
  background-repeat: no-repeat;
  background-position: left top;
  background-size: cover;
  position: relative;
}

.information-schema {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
}
.information-schema .schema-point {
  position: absolute;
  display: flex;
  flex-direction: row-reverse;
}
.information-schema .schema-point .schema-point-text {
  width: 210px;
  opacity: 0;
  background-color: var(--color-dark-200);
  position: relative;
  right: -30px;
  top: -25px;
  padding: 32px 16px;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
  transition-duration: 0.4s;
}
.information-schema .schema-point .schema-point-text p:first-child {
  color: var(--color-brown-005);
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  margin: 0px 0px 16px 0px;
}
.information-schema .schema-point .schema-point-text p:last-child {
  color: var(--color-brown-005);
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
}
.information-schema .schema-point .schema-point-icon {
  width: 60px;
  height: 60px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--color-dark-200);
  border: 1px solid var(--color-gold-020);
  cursor: pointer;
  position: relative;
  z-index: 5;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
}
.information-schema .schema-point .schema-point-icon:hover {
  border: 1px solid var(--color-gold-150);
  transform: rotate(45deg);
  z-index: 20;
}
.information-schema .schema-point .schema-point-icon:hover + .schema-point-text {
  opacity: 1;
  z-index: 10;
}
.information-schema .schema-point.point-01 {
  left: 48%;
  top: 20%;
}
.information-schema .schema-point.point-02 {
  left: 48%;
  top: 70%;
}
.information-schema .schema-point.point-03 {
  left: 25%;
  top: 40%;
}
.information-schema .schema-point.point-04 {
  left: 10%;
  top: 80%;
}

.information-row-02 {
  width: 100%;
  position: absolute;
  left: 0px;
  top: 100%;
  z-index: 1;
  margin: 0px auto;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
}
.information-row-02.information-block-parallax {
  transform: translateY(-100%);
}
.information-row-02 .information-wrapper {
  width: 100%;
  max-width: 1920px;
  height: auto;
  margin: 0px auto;
}
.information-row-02 .information-wrapper > div:first-child {
  width: 40%;
  background-color: var(--color-gold-020);
  padding: 48px 32px 80px 48px;
}
.information-row-02 .information-wrapper > div:last-child {
  width: 60%;
}
.information-row-02 .information-wrapper > div > p {
  font-family: var(--font-family-titles);
  color: var(--color-brown-200);
  font-size: 14px;
  line-height: 28px;
  text-transform: uppercase;
  padding: 0px 0px 24px 0px;
  border-bottom: 1px solid var(--color-brown-border);
}

.information-additional-block {
  margin: 0px 0px 0px 0px;
}
.information-additional-block .information-additional-row {
  width: 100%;
  display: flex;
  padding: 32px 0px;
  border-bottom: 1px solid var(--color-brown-border);
}
.information-additional-block .information-additional-row p {
  width: 100%;
  color: var(--color-brown-200);
  font-size: 14px;
  line-height: 22px;
  text-align: left;
  margin: 32px 0px 0px 0px;
}
.information-additional-block .information-additional-row .information-additional-column-01 {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.information-additional-block .information-additional-row .information-additional-column-02 {
  width: 55%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 0px 0px 32px;
  border-left: 1px solid var(--color-brown-border);
}